<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <p>
      Name: {{nameField.valid}}
      <input
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInvalid"
      type="text"
      formControlName="name">
      <button [disabled]="nameField.invalid" (click)="getNameValue()">Get Value</button>
      <!-- <code>
        <pre>{{nameField | json}}</pre>
      </code> -->
    </p>
    <div class="messages" [class.active]="isNameFieldInvalid">
    <p>
      <strong *ngIf="nameField.hasError('required') ">Este campo es requerido</strong>
    </p>
    <p>
      <strong *ngIf="nameField.hasError('maxlength') ">Debe tener maximo 10 caracteres</strong>
    </p>
    <p>
      <strong *ngIf="nameField.hasError('pattern') ">No debe tener caracteres especiales</strong>
    </p>
    </div>
    <p>
      Last: {{lastField.valid}}
      <input
      type="text"
      formControlName="last">
      <button [disabled]="lastField.invalid" (click)="getNameValue()">Get Value</button>
      <!-- <code>
        <pre>{{nameField | json}}</pre>
      </code> -->
    </p>
  </div>

  <p>
    Email: {{emailField.value}}
    <input type="email" formControlName="email">
  </p>
    <div class="messages" [class.active]="emailField.touched && emailField.invalid">
    <p>
      <strong *ngIf="emailField.hasError('required') ">Este campo es requerido</strong>
    </p>
    <p>
      <strong *ngIf="emailField.hasError('email') ">El correo es inválido</strong>
    </p>
    </div>
  <p>
    Phone: {{phoneField.value}}
    <input type="tel" formControlName="phone">
  </p>
    <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
    <p>
      <strong *ngIf="phoneField.touched && phoneField.hasError('required') ">Este campo es requerido</strong>
    </p>
    </div>

  <p>
    Color: {{colorField.value}}
    <input type="color" formControlName="color">
  </p>
  <p>
    Date: {{dateField.value}}
    <input type="date" formControlName="date">
  </p>
  <p>
    Age: {{ageField.value}}
    <input type="number" formControlName="age">
  </p>
    <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <p>
      <strong *ngIf="ageField.hasError('required') ">Este campo es requerido</strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('min') ">Debe ser mayor de edad</strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('max') ">Debe ser menor de 100 años</strong>
    </p>
    </div>
  <p>
    Range: {{rangeField.value}}
    <input type="range" formControlName="range">
  </p>
  <p>
    URL: {{urlField.value}}
    <input type="url" formControlName="url">
  </p>
  <p>
    Textarea: {{textareaField.value}}
    <textarea type="textarea" formControlName="textarea"></textarea>
  </p>
  <p>
    Select: {{selectField.value}}
    <select formControlName="select">
      <option value="category_1">Category 1</option>
      <option value="category_2">Category 2</option>
      <option value="category_3">Category 3</option>
      <option value="category_4">Category 4</option>
      <option value="category_5">Category 5</option>
    </select>
  </p>
  <p>
    Tag: {{tagField.value}}
    <select formControlName="tag" multiple size="2">
      <option value="Tag_1">Tag 1</option>
      <option value="Tag_2">Tag 2</option>
      <option value="Tag_3">Tag 3</option>
      <option value="Tag_4">Tag 4</option>
      <option value="Tag_5">Tag 5</option>
    </select>
  </p>
  <p>
    Agree: {{agreeField.value}}
    <input type="Checkbox" formControlName="agree">
  </p>
  <p>
    Gender: {{genderField.value}}
    <label>
      <input name="gender" type="radio" value="male" formControlName="gender">
      Male
    </label>
    <label>
      <input name="gender" type="radio" value="female" formControlName="gender">
      Female
    </label>
  </p>
  <p>
    Zone: {{zoneField.value}}
    <label>
      <input name="zone" type="radio" value="zona_1" formControlName="zone">
      Zona 1
    </label>
    <label>
      <input name="zone" type="radio" value="zona_2" formControlName="zone">
      Zona 2
    </label>
  </p>
  <p>
    <button type="submit">Enviar</button>
  </p>

</form>


